<!-- tophead -->
<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #efefef;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-around mt-4 mb-4" id="navbarNav">
    <ul class="navbar-nav">
      <i class="bi bi-geo-alt-fill lab"></i>
      <label for="selectLocation" class="mr-2 d-none d-sm-block lab">Select Location</label>
                <select  id="selectLocation" class="sele" >
                  <option>Nagpur</option>
                  <option>Pune</option>
                  <option>Bangalore</option>
                  <option>Mumbai</option>
                </select>    
      <li class="nav-item">
        <a class="nav-link" href="/">How it Works |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">List Your Buisness |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Customer Care: +91-8600799991  |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">24*7</a>
      </li>
    </ul>
  </div>
</nav>
<!-- topbar end -->

<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" style="width:130px;margin-left: 30px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 300px;">
         <form class="d-flex">
        <input class="form-control me-2 inp" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success bt" type="submit">Search Offers</button>
      </form>
        <li class="nav-item ">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
            <i class="bi bi-bell-fill bel"></i>
          </a>
        </li>
        <a href="" class="btn btnsignin">Login / SignUp</a>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->

<!-- main navbar start -->
<nav class="navbar navbar-expand-lg mainhead">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown lii">
          <a class="nav-link dropdown-toggle aa" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All
          </a>
          <ul class="dropdown-menu ull">
            <li><a class="dropdown-item" href="#">Apparel</a></li>
            <li><a class="dropdown-item" href="#">Team</a></li>
            <li><a class="dropdown-item" href="#">Careers</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown lii">
          <a class="nav-link dropdown-toggle aa" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Restaurent & Bakeries Offers 
          </a>
          <ul class="dropdown-menu ull">
            <li><a class="dropdown-item" href="#">Hotels</a></li>
            <li><a class="dropdown-item" href="#">Bakeries</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown lii">
          <a class="nav-link dropdown-toggle aa" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home Appliances 
          </a>
          <ul class="dropdown-menu ull">
            <li><a class="dropdown-item" href="#">Mobile</a></li>
            <li><a class="dropdown-item" href="#">TV</a></li>
            <li><a class="dropdown-item" href="#">Fridge</a></li>
            <li><a class="dropdown-item" href="#">MicroWave</a></li>
          </ul>
        </li>
        <li class="nav-item lii">
          <a class="nav-link aa" href="#">Restaurent&Bakeries</a>
        </li>
        <li class="nav-item lii" >
          <a class="nav-link aa" href="#">HomeAppliances</a>
        </li>
        <li class="nav-item lii">
          <a class="nav-link aa" href="#">Health&Fitness</a>
        </li>
        <li class="nav-item lii">
          <a class="nav-link aa" href="#">FastFood Offers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- main navbar end -->

<!--  -->
<div class="container-fluid ss mt-1" style="background-color:#fff;">
  <div class="d-flex justify-content-around">
    <ul class="d-flex " style="list-style:none;">
      <li class="nav-item dropdown category_itemList">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <img class="img-fluid st rounded-circle" src="/assets/img/toy.webp" />
        </a>
      <p class="text-center">Beauty,Toy and More</p>
       <!-- add width here for modify in this style   -->
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
  
      <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <img class="img-fluid st rounded-circle" src="/assets/img/appliances.webp" />
        </a>
        <p class="text-center">Appliances</p>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
  
     <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <img class="img-fluid st rounded-circle" src="/assets/img/electronics.webp" />
        </a>
        <p class="text-center">Electronics</p>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
  
      <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         <img class="img-fluid st rounded-circle" src="/assets/img/offer.webp" />
        </a>
        <p class="text-center">Top Offers</p>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
  
  
     <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="img-fluid st rounded-circle" src="/assets/img/fashion.webp" />
        </a>
        <p class="text-center">Fashion</p>
  
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" href="#">Action</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another action</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            Submenu &raquo;
          </a>
          <ul class="dropdown-menu dropdown-submenu">
            <li>
              <a class="dropdown-item" href="#">Submenu item 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 3 </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 5</a>
            </li>
          </ul>
        </li>
      </ul>
  
       
      </li>
  
  
     <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="img-fluid st rounded-circle" src="/assets/img/grosary.webp" />
        </a>
        <p class="text-center">Grocery</p>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
  
      <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="img-fluid st rounded-circle" src="/assets/img/home.webp" />
        </a>
        <p class="text-center">Home</p>
  
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" href="#">Action</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another action</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            Submenu &raquo;
          </a>
          <ul class="dropdown-menu dropdown-submenu">
            <li>
              <a class="dropdown-item" href="#">Submenu item 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 3 </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 5</a>
            </li>
          </ul>
        </li>
      </ul>
  
       
      </li>
  
      <!-- rugh -->
         <li class="nav-item dropdown category_itemList">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="img-fluid st rounded-circle " src="/assets/img/mobiles.webp" />
        </a>
        <p class="text-center">Mobiles</p>
       <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkRight">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li>
          <a class="dropdown-item" href="#"> Submenu &raquo; </a>
          <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
            <li>
              <a class="dropdown-item" href="#">Submenu item 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Submenu item 5</a>
            </li>
          </ul>
        </li>
      </ul>
      </li>
      <!-- rugh -->
      
    </ul>
  </div>
  </div>