<div class="homebanner">
    <img src="/assets/img/home-banner.jpg" style="width:100% ;" alt="">
</div>
<section>
      <!-- Featured Start -->
      <div class="container-fluid pt-5 " >
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4 service" style="padding:30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3 service2"></h1>
                    <h5 class="font-weight-semi-bold m-0 service2">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4 service" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast  m-0 mr-2 service2"></h1>
                    <h5 class="font-weight-semi-bold m-0 service2">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4 service" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3 service2"></h1>
                    <h5 class="font-weight-semi-bold m-0 service2">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4 service" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3 service2"></h1>
                    <h5 class="font-weight-semi-bold m-0 service2">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->
</section>
<section class="home-carousel-section three-thumbs-carousel" style="margin-top:3rem;">
    <div class="container">
        <div id="Apparel">
            <div class="carousel-heading d-flex">
                <h2>Apparel Offers</h2>
                <div class="heading-border flex-grow-1">
                    <span class="d-block line-border"></span>
                </div>
                <div class="carousel-navigation ml-auto">
                    <div class="d-flex navigation-arrows">
                        <div class="arrow previous">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="arrow next ml-2">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-content">
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/apparel-item1.jpg" class="img-fluid" alt="item1">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/apparel-item2.jpg" class="img-fluid" alt="item2">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/apparel-item3.jpg" class="img-fluid" alt="item3">
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-carousel-section five-thumbs-carousel" style="margin-top:3rem;">
    <div class="container">
        <div id="Apparel">
            <div class="carousel-heading d-flex">
                <h2>Apparel Offers</h2>
                <div class="heading-border flex-grow-1">
                    <span class="d-block line-border"></span>
                </div>
                <div class="carousel-navigation ml-auto">
                    <div class="d-flex navigation-arrows">
                        <div class="arrow previous">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="arrow next ml-2">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-content">
            <div class="item text-center">
                <a href="" class="aa">
                    <div class="rounded-carousel-thumb">
                        <div class="icon">
                            <img src="/assets/img/bak-item1.png" class="img-fluid" alt="">
                        </div>
                        <div class="heading text-uppercase">
                            <div class="heading text-uppercase ">Top Hotels</div>
                            <div class="sub-heading">30 places</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="" class="aa">
                    <div class="rounded-carousel-thumb">
                        <div class="icon">
                            <img src="/assets/img/bak-item2.png" class="img-fluid" alt="">
                        </div>
                        <div class="heading text-uppercase">
                            <div class="heading text-uppercase ">Restaurent</div>
                            <div class="sub-heading">30 places</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="" class="aa">
                    <div class="rounded-carousel-thumb">
                        <div class="icon">
                            <img src="/assets/img/bak-item3.png" class="img-fluid" alt="">
                        </div>
                        <div class="heading text-uppercase">
                            <div class="heading text-uppercase ">Drinks</div>
                            <div class="sub-heading">30 places</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="" class="aa">
                    <div class="rounded-carousel-thumb">
                        <div class="icon">
                            <img src="/assets/img/bak-item4.png" class="img-fluid" alt="">
                        </div>
                        <div class="heading text-uppercase">
                            <div class="heading text-uppercase ">Cafe Nearby</div>
                            <div class="sub-heading">30 places</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="" class="aa">
                    <div class="rounded-carousel-thumb">
                        <div class="icon">
                            <img src="/assets/img/bak-item5.png" class="img-fluid" alt="">
                        </div>
                        <div class="heading text-uppercase">
                            <div class="heading text-uppercase ">Top Hotels</div>
                            <div class="sub-heading">30 places</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-carousel-section three-thumbs-carousel" style="margin-top:3rem;">
    <div class="container">
        <div id="Apparel">
            <div class="carousel-heading d-flex">
                <h2>Parlours & Salon Offers</h2>
                <div class="heading-border flex-grow-1">
                    <span class="d-block line-border"></span>
                </div>
                <div class="carousel-navigation ml-auto">
                    <div class="d-flex navigation-arrows">
                        <div class="arrow previous">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="arrow next ml-2">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-content">
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/apparel-item1.jpg" class="img-fluid border" alt="item1">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/parlour-item2.png" class="img-fluid border" alt="item2">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/parlour-item3.png" class="img-fluid border" alt="item3">
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-carousel-section three-thumbs-carousel" style="margin-top:3rem;">
    <div class="container">
        <div id="Apparel">
            <div class="carousel-heading d-flex">
                <h2>Snacks Centers & Fast Food Offers</h2>
                <div class="heading-border flex-grow-1">
                    <span class="d-block line-border"></span>
                </div>
                <div class="carousel-navigation ml-auto">
                    <div class="d-flex navigation-arrows">
                        <div class="arrow previous">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="arrow next ml-2">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-content">
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/snack-item1.jpg" class="img-fluid border" alt="item1">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/snack-item2.jpg" class="img-fluid border" alt="item2">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/snack-item3.jpg" class="img-fluid border" alt="item3">
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-carousel-section three-thumbs-carousel" style="margin-top:3rem;">
    <div class="container">
        <div id="Apparel">
            <div class="carousel-heading d-flex">
                <h2>Home Appliances Offers</h2>
                <div class="heading-border flex-grow-1">
                    <span class="d-block line-border"></span>
                </div>
                <div class="carousel-navigation ml-auto">
                    <div class="d-flex navigation-arrows">
                        <div class="arrow previous">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="arrow next ml-2">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-content">
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/home-item1.jpg" class="img-fluid border" alt="item1">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/home-item2.jpg" class="img-fluid border" alt="item2">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/home-item1.jpg" class="img-fluid border" alt="item3">
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-carousel-section three-thumbs-carousel" style="margin-top:3rem;">
    <div class="container">
        <div id="Apparel">
            <div class="carousel-heading d-flex">
                <h2>Health & Fitness Offers</h2>
                <div class="heading-border flex-grow-1">
                    <span class="d-block line-border"></span>
                </div>
                <div class="carousel-navigation ml-auto">
                    <div class="d-flex navigation-arrows">
                        <div class="arrow previous">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="arrow next ml-2">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-content">
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/health-item1.jpg" class="img-fluid border" alt="item1">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/health-item2.jpg" class="img-fluid border" alt="item2">
                </div>
                </a>
            </div>
            <div class="item text-center">
                <a href="">
                    <div class="carousel-thumb-image">
                    <img src="/assets/img/health-item1.jpg" class="img-fluid border" alt="item3">
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
